In [1]:
print("OK")

OK

In [4]:
import pandas as pd
import numpy as np

In [12]:
# sep=";" specifies that columns in the CSV are separated by semicolons
# on_bad_lines="skip" tells Pandas to ignore rows that can't be parsed correctly
# encoding="latin-1" ensures compatibility with special characters in the file

books = pd.read_csv('BX-Books.csv', sep=";", on_bad_lines="skip", encoding='latin-1')

C:\Users\men_l\AppData\Local\Temp\ipykernel_8204\853055035.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=";", on_bad_lines="skip", encoding='latin-1')

In [13]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [15]:
# Access the large image URL from row 237 of the 'books' DataFrame
# .iloc[237] selects the 238th row (indexing starts at 0)
# ['Image-URL-L'] extracts the value from the 'Image-URL-L' column, which contains the URL of the large book cover image

books.iloc[237]['Image-URL-L']

'http://images.amazon.com/images/P/0671027387.01.LZZZZZZZ.jpg'

In [18]:
# Get the shape (dimensions) of the 'books' DataFrame
# books.shape returns a tuple (rows, columns)
# rows: total number of book entries in the dataset
# columns: total number of attributes/features about each book

books.shape

(271360, 8)

In [19]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [22]:
# Select specific columns from the 'books' DataFrame to create a refined version
# This keeps only the most relevant details about each book, removing any unnecessary columns
# Columns included: ISBN, Title, Author, Year, Publisher, and URLs for different image sizes

books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [23]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [24]:
books.rename(columns={'Book-Title': 'title',  
                      'Book-Author': 'author',  
                      'Year-Of-Publication': 'year',  
                      'Publisher': 'publisher',  
                      'Image-URL-L': 'image_url'}, inplace=True)

In [25]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [27]:
# Load the BX-Users.csv file into a Pandas DataFrame
# sep=";" specifies that columns in the CSV are separated by semicolons
# on_bad_lines="skip" tells Pandas to ignore rows that can't be parsed correctly (recommended over deprecated error_bad_lines)
# encoding="latin-1" ensures proper handling of special characters in the file

users = pd.read_csv('BX-Users.csv', sep=";", on_bad_lines="skip", encoding='latin-1')

In [28]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [30]:
users.shape

(278858, 3)

In [31]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [32]:
users.rename(columns={'User-ID': 'user_id', 
                      'Location': 'location', 
                      'Age': 'age'}, inplace=True)

In [34]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [36]:
# Load the BX-Book-Ratings.csv file into a Pandas DataFrame
# sep=";" specifies that columns in the CSV are separated by semicolons
# on_bad_lines="skip" skips any rows that cannot be parsed correctly (recommended over the deprecated error_bad_lines)
# encoding="latin-1" ensures proper handling of special characters in the file

ratings = pd.read_csv('BX-Book-Ratings.csv', sep=";", on_bad_lines="skip", encoding='latin-1')

In [37]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [38]:
ratings.shape

(1149780, 3)